# dependencies
node_modules/

# production
build/
dist/

# misc
.DS_Store
.env
.env.local
.env.*.local

# testing
coverage/
test-results/

# editors
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# lockfiles
*.lock

# builds
wp-plugin/wp-super-gallery/assets/