@use './tokens';

.wp-super-gallery {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wp-super-gallery * {
  box-sizing: border-box;
}

.wp-super-gallery img {
  display: block;
  max-width: 100%;
}

.wp-super-gallery button {
  font: inherit;
}
